/* ALL COMMON CSS PART START  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #fff;
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    /* background-color: red; */
}

h1, h2, h3, h4, button{
    font-family: 'Roboto', sans-serif;
}

h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

a,
li,
ol,
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

a,
a:hover {
    text-decoration: none;
}

button:focus,
input:focus,
select:focus {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

button{
    border: none;
    background: transparent;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
button a{
    border: 1px solid #E55473;
    background-color: #E55473;
    color: #fff;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
button:hover a{
    border: 1px solid #E55473;
    background-color: #fff;
    color: #E55473;
}

/* ALL COMMON CSS PART END */

/* MAIN CSS PART START  */



/* =====================================
            HEADER PART START
======================================== */
header{
    background: rgba(229, 84, 115, 0.20);
}
header .container{}
header .container #banner{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}
header .container #banner .text{
    width: 708px;
}
header .container #banner .text h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
header .container #banner .text p{
    color: #181818;
    font-size: 20px;
    line-height: 30px;
    margin: 35px 0;
}
header .container #banner .text button{}
header .container #banner .text button a{
    font-size: 30px;
    
}
header .container #banner .image{
    padding-top: 50px;
}
header .container #banner .image img{}

/* =====================================
            HEADER PART END
======================================== */



/* =====================================
           HOT DEAL PART START
======================================== */

/* =====================================
           HOT DEAL PART END
======================================== */



/* =====================================
           HOT DEAL PART START
======================================== */
#hot_deal{
    background: rgba(229, 84, 115, 0.20);
    margin: 130px auto;
}
#hot_deal .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
#hot_deal .container .hot_text{
    width: 600px;
    text-align: center;
}
#hot_deal .container .hot_text h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
#hot_deal .container .hot_text h2 span{
    color: #E55473;
}
#hot_deal .container .hot_text p{
    margin-bottom: 50px;
    color: #181818;
}
#hot_deal .container .hot_image{
    padding: 100px 0;
}
/* =====================================
           HOT DEAL PART END
======================================== */



/* =====================================
            INSTAGRAM PART START
======================================== */
#instagram{
    margin-bottom: 130px;
}
#instagram .container{
    padding:0 20px ;
}
#instagram .container .insta_heading{
    text-align: center;
    margin-bottom: 50PX;
}
#instagram .container .insta_heading p{
    color: #181818;
    line-height: 30px;
    width: 595px;
    margin: 0 auto;
}
#instagram .container .insta_items{
    display: flex;
    gap: 25px;
    justify-content: space-around;
}
#instagram .container .insta_items .item{
    max-width: 340px;
    height: 395px;
}
/* =====================================
            INSTAGRAM PART END
======================================== */



/* =====================================
            GET PART START
======================================== */
#get{
    margin-bottom: 130px;
}
#get .container{
    padding: 0 20px;
    text-align: center;
}
#get .container .bg_image{
    background: url(../images/formBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#get .container .bg_image .get_text{
    padding: 125px 0;
}
#get .container .bg_image .get_text p{
    margin-bottom: 40px;
}
#get .container .bg_image .get_text form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#get .container .bg_image .get_text form label #email{
    padding: 10px 35px;
    width: 700px;
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #E55473;
    box-shadow: 1px 1px 5px 1px #E55473;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#get .container .bg_image .get_text form label #email::placeholder{
    color: #E55473;
    font-weight: 600;
    font-size: 20px;
}
#get .container .bg_image .get_text form label #button{
    padding: 16px 35px;
    border: 1px solid  #E55473;
    font-size: 23px;
    text-transform: uppercase;
    background-color: #E55473;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#get .container .bg_image .get_text form label #button:hover{
    border: 1px solid  #E55473;
    background-color: #fff;
    color: #E55473;
}

/* =====================================
            GET PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */



/* =====================================
            HEADER PART START
======================================== */
/* =====================================
            HEADER PART END
======================================== */

/* MAIN CSS PART END  */