/* ALL COMMON CSS PART START  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    font-family: 'Open Sans', sans-serif; 
    background-color: #fff;
    font-size: 20px;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    padding: 0 20px ;
}

h1, h2, h3, h4, button{
    font-family: 'Roboto', sans-serif;
}

h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

a,
li,
ol,
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

a,
a:hover {
    text-decoration: none;
}

button:focus,
input:focus,
select:focus {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

button{
    border: none;
    background: transparent;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
button a{
    border: 1px solid #E55473;
    background-color: #E55473;
    color: #fff;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
button:hover a{
    border: 1px solid #E55473;
    background-color: #fff;
    color: #E55473;
}
.hidden{
    display: none !important;
}

/* ALL COMMON CSS PART END */

/* MAIN CSS PART START  */



/* =====================================
            HEADER PART START
======================================== */
header{
    background: rgba(229, 84, 115, 0.20);
}

/* NAVBAR PART START  */
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav .container .logo{
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}
nav .container .logo p{
    color: #181818;
    letter-spacing: .5px;
}
nav .container .logo p span{
    color: #E55473;
}
nav .container .title{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
nav .container .title ul{
    display: flex;
    gap: 50px;
}
nav .container .title ul li a{
    color: #E55473;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
nav .container .title ul li:hover a{
    color: #111010;
}
nav .container .title .cart, .bar{
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E55473;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
nav .container .title .cart , .bar i{
    color: #E55473;
    font-size: 30px;
}
/* NAVBAR PART END  */


/* BANNER PART START  */
header .container #banner{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}
header .container #banner .text{
    width: 708px;
}
header .container #banner .text h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
header .container #banner .text p{
    color: #181818;
    font-size: 20px;
    line-height: 30px;
    margin: 35px 0;
}
header .container #banner .text button a{
    font-size: 30px;
    
}
header .container #banner .image{
    padding-top: 50px;
}
/* BANNER PART END  */

/* =====================================
            HEADER PART END
======================================== */



/* =====================================
           FEATURED PART START
======================================== */
#featured{
    margin: 130px 0;
}
#featured .container{
    padding: 0 20px;
    text-align: center;
}
#featured .container .heading{
    width: 595px;
    margin: 0 auto 70px;
}
#featured .container .heading p{
    color: #181818;
    font-size: 20px;
}
#featured .container .featured_items{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
#featured .container .featured_items .item{
    width: 440px;
}
#featured .container .featured_items .item .image{
    width: 440px;
    height: 535px;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0 auto;
    border-radius: 300px 300px 0 0;
    -webkit-border-radius: 300px 300px 0 0;
    -moz-border-radius: 300px 300px 0 0;
    -ms-border-radius: 300px 300px 0 0;
    -o-border-radius: 300px 300px 0 0;
}
#featured .container .featured_items .item .image img{
    width: 75%;
}
#featured .featured_items .item:nth-child(1) .image{
    background: rgba(167, 33, 98, 0.15);
}
#featured .featured_items .item:nth-child(2) .image{
    background: rgba(5, 151, 160, 0.15);
    align-items: center;
}
#featured .featured_items .item:nth-child(3) .image{
    background: rgba(71, 125, 17, 0.15);
}
#featured .container .featured_items .item .text{
    margin-top: 50px;
}
#featured .container .featured_items .item .text p a{
    text-decoration: underline;
    font-size: 25px;
    color: #181818;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 35px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#featured .container .featured_items .item .text p a:hover{
    color: #E55473;
}
/* =====================================
           FEATURED PART END
======================================== */



/* =====================================
           DELIVERY PART START
======================================== */
#delivery .container{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 90px 165px;
}
#delivery .container .delivery_items{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
#delivery .container .delivery_items .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#delivery .container .delivery_items .item .deli_image{
    height: 90px;
    width: 90px;
}
#delivery .container .delivery_items .item .deli_caption{
    margin-top: 25px;
    color: #272727;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
#delivery .container .delivery_items .item .deli_caption a{
    color: #E55473;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#delivery .container .delivery_items .item .deli_caption a:hover{
    color: green;
}
/* =====================================
           DELIVERY PART END
======================================== */



/* =====================================
           HOT DEAL PART START
======================================== */
#hot_deal{
    background: rgba(229, 84, 115, 0.20);
    margin: 130px auto;
}
#hot_deal .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
#hot_deal .container .hot_text{
    width: 600px;
    text-align: center;
}
#hot_deal .container .hot_text h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
#hot_deal .container .hot_text h2 span{
    color: #E55473;
}
#hot_deal .container .hot_text p{
    margin-bottom: 50px;
    color: #181818;
}
#hot_deal .container .hot_image{
    padding: 100px 0;
}
/* =====================================
           HOT DEAL PART END
======================================== */



/* =====================================
            TODAY'S STOCKED PART START
======================================== */
#todays_stocked{
    margin-bottom: 130px;
}
#todays_stocked .container{
    padding:  0 20px;
    text-align: center;
}
#todays_stocked .container .heading{
    margin-bottom: 25px;
}
#todays_stocked .container .heading p{
    font-size: 25px;
    color: #181818;
    margin:30px 0 50px;
}
#todays_stocked .container .heading p a{
    color: #E55473;
    font-weight: 700;
    font-size: 30px;
}
#todays_stocked .container .items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
#todays_stocked .container .items .item{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 2px solid #E55473;
    background: rgba(229, 84, 115, 0.1);
    padding: 15px 15px 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#todays_stocked .container .items .item .image{
    width: 350px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
#todays_stocked .container .items .item .image img{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#todays_stocked .container .items .item .text h3{
    font-size: 25px;
    margin: 25px 0 15px;
}
#todays_stocked .container .items .item .text p{
    margin-bottom: 20px;
}
#todays_stocked .container .items .item .text button a{
    padding: 10px 20px;
    font-weight: 500;
    font-size: 20px;
}
/* =====================================
            TODAY'S STOCKED PART END
======================================== */



/* =====================================
            INSTAGRAM PART START
======================================== */
#instagram{
    margin-bottom: 130px;
}
#instagram .container{
    padding:0 20px ;
}
#instagram .container .insta_heading{
    text-align: center;
    margin-bottom: 50PX;
}
#instagram .container .insta_heading p{
    color: #181818;
    line-height: 30px;
    width: 595px;
    margin: 0 auto;
}
#instagram .container .insta_items{
    display: flex;
    gap: 25px;
    justify-content: space-around;
}
#instagram .container .insta_items .item{
    max-width: 340px;
    height: 395px;
}
/* =====================================
            INSTAGRAM PART END
======================================== */



/* =====================================
            GET PART START
======================================== */
#get{
    margin-bottom: 130px;
}
#get .container{
    padding: 0 20px;
    text-align: center;
}
#get .container .bg_image{
    background: url(../images/formBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#get .container .bg_image .get_text{
    padding: 125px 0;
}
#get .container .bg_image .get_text p{
    margin-bottom: 40px;
}
#get .container .bg_image .get_text form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#get .container .bg_image .get_text form label #email{
    padding: 10px 35px;
    width: 700px;
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #E55473;
    box-shadow: 1px 1px 5px 1px #E55473;
    border: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#get .container .bg_image .get_text form label #email::placeholder{
    color: #E55473;
    font-weight: 600;
    font-size: 20px;
}
#get .container .bg_image .get_text form label #button{
    padding: 16px 35px;
    border: 1px solid  #E55473;
    font-size: 23px;
    text-transform: uppercase;
    background-color: #E55473;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#get .container .bg_image .get_text form label #button:hover{
    border: 1px solid  #E55473;
    background-color: #fff;
    color: #E55473;
}

/* =====================================
            GET PART END
======================================== */



/* =====================================
            FOOTER PART START
======================================== */
footer{
    background-color: #111010;
}
footer .container{
    text-align: center;
}
footer .container .footer_text{
    padding: 130px 0;
    color: #fff;
    width: 625px;
    margin: 0 auto;
}
footer .container .footer_text h2{
    color: #E55473;
    font-weight: 800;
    font-size: 50px;
}
footer .container .footer_text h2 span{
    color: #fff;
}
footer .container .footer_text p{
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 35px;
}
footer .container .footer_text .copyright{
    color: rgba(255, 255, 255, 0.40);
}
/* =====================================
            FOOTER PART END
======================================== */

/* MAIN CSS PART END  */